body {
    width: 100%;
}

.centered-block {
    margin: 0 auto;
    max-width: 1200px;
}

.bkg {
    background: #f3f5ff;
}

.bottom-border {
    border-bottom: 2px solid #eee;
    padding-bottom: 50px;
}

.intro-block {
    padding: 30px;
    text-align: center;
    /* width: 100%; */
    max-width: 1200px;
}

.intro-block-header {
    font-family: "Inter", sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: #0B0A33;
    line-height: 74px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.intro-block-subheader {
    font-family: "Inter", serif;
    font-size: 25px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 1.5;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.block-header {
    font-family: "Inter", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #0B0A33;
    line-height: 56px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
}

.intro-block-button {
    border-radius: 34px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    background: #5335D9;
    color: white;
    border: 0px;
    height: 67px;
    padding-left: 42px;
    padding-right: 42px;
    cursor: pointer;
    margin-top: 66px;
    margin-bottom: 66px;
    text-align: center;
}

/* Картинки */
.uniform-image-1 {
    width: 30%;
    float: left;
    margin: 30px 15px 10px 0;
}

.uniform-image-2 {
    width: 30%;
    float: right;
    margin: 30px
}

.uniform-image-3 {
    width: 20%;
    float: right;
    margin: -20px 20px 10px
}

.uniform-image-4 {
    width: 30%;
    float: left;
    margin: 20px 15px 10px 0;
}

.uniform-image-5 {
    width: 48%;
    padding: 2%;
}

.uniform-image-6 {
    width: 100%;
    margin: 30px 15px 10px 0;
}

.img-block {
    display: flex;
    width: 100%;
    justify-content: center;

}

/*Начало стротельства общественного центра*/

.intro-block-button-2 {
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    font-size: 14.8px;
    font-weight: 700;
    background: #F3F5FF;
    color: #5335D9;
    border: 0px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}



.intro-block-subheader-2 {
    font-family: "Inter", serif;
    font-size: 17.6px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 30.1px;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}



/*Клуб "Ровесник"*/
.content-block {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    width: 100%;

}


/*Предприятия общественного питания*/
.content-block-2 {
    display: flex;

    width: 50%;
    margin: 0 auto;
    padding: 30px;
}

.image-section {
    width: 100%;

}

.text-section-right {
    text-align: center;
    /* padding-left: 30px; */
    width: 100%;
    max-width: 1200px;
}

/* Модальное окно */
.mapModal {
    background: white;
    box-sizing: border-box;
    padding: 10px;
    width: 500px;
    -webkit-box-shadow: 0px 0px 30px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 30px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 30px 14px rgba(34, 60, 80, 0.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    z-index: 11;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}